.project-list {
    display: grid;
    grid-auto-flow: row;
}

.project-list-card {
    width: 30%;
    background-color: #ccc;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 8px 10px;
    align-items: center;
    display: flex;
    flex-direction: column;

}

.project-list-title {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}

.project-list-link {
    font-size: 18px;
}

.title {
    text-align: center;
    font-size: 2rem;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    list-style: none;
}

.project-grid div {
    background: #f5f5f5;
    border: 2px solid #f5f5f5;
    height: 180px;
    width: 300px;
    border-radius: 8px;
    padding: 32px 24px 16px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.project-grid div span {
    flex: 1;
    margin-top: 12px;

    display: flex;
    align-items: center;

}



