#page-create-project {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

#page-create-project form {
    margin: 80px auto;
    padding: 64px;
    max-width: 730px;
    background: #FFF;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
}

#page-create-project form h1 {
    font-size: 36px;
}

#page-create-project form fieldset {
    margin-top: 64px;
    min-inline-size: auto;
    border: 0;
}

#page-create-project form legend {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

#page-create-project form legend h2 {
    font-size: 24px;
}

#page-create-project form legend span {
    font-size: 14px;
    font-weight: normal;
}

#page-create-project form .field-group {
    flex: 1;
    display: flex;
}

#page-create-project form .field {
    flex: 1;

    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

#page-create-project form .field input[type=text],
#page-create-project form .field input[type=email],
#page-create-project form .field input[type=password],
#page-create-project form .field input[type=number] {
    flex: 1;
    background: #F0F0F5;
    border-radius: 8px;
    border: 0;
    padding: 16px 24px;
    font-size: 16px;
    color: #6C6C80;
}


#page-create-project form .field input::placeholder {
    color: #A0A0B2;
}

#page-create-project form .field label {
    font-size: 14px;
    margin-bottom: 8px;
}

#page-create-project form .field :disabled {
    cursor: not-allowed;
}

#page-create-project form .field-group .field + .field {
    margin-left: 24px;
}

#page-create-project form .field-group input + input {
    margin-left: 24px;
}


#page-create-project form button {
    width: 260px;
    height: 56px;
    background: #34CB79;
    border-radius: 8px;
    color: #FFF;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    align-self: center;
    margin-top: 40px;
    transition: background-color 0.2s;
    cursor: pointer;
}

#page-create-project form button:hover {
    background: #2FB86E;
}
